# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~


# Exclude emacs backups and Python bytecode caches:
*~
__pycache__/


# Exclude package build artifacts:
dist/
*.egg-info/


# Exclude the recommended virtual env:
dwo_venv/

.idea

#Excluse lib drectory created when testing a notebook
src/dynawo_validation/openloadflow/notebooks/lib
*.ipynb_checkpoints
/src/dynawo_validation/openloadflow/notebooks/legend0.png
/src/dynawo_validation/openloadflow/notebooks/legend1.png
/src/dynawo_validation/openloadflow/notebooks/legend2.png
/src/dynawo_validation/openloadflow/notebooks/subgraph.html
/src/dynawo_validation/openloadflow/notebooks/Hades_vs_OpenLoadFlow_final.ipynb
/src/dynawo_validation/openloadflow/package-itools/target/
